{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block main %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Transactions</h1>

<!-- INCOME Details -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">INCOMES & EXPENSES</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Payment Method</th>
            <th>Status</th>
            <th>Date</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Payment Method</th>
            <th>Status</th>
            <th>Date</th>
          </tr>
        </tfoot>
        <tbody>
          {% for transaction in transactions %}
            <tr>
              {% if transaction.amount > 0 %}
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.description }}</td>
                <td class="text-success" style="text-align: right">{{ transaction.amount|usd }}</td>
                <td>{{ transaction.payment_method }}</td>
                {% if transaction.status == 1 %}
                <td>Complete</td>
                {% else %}
                <td>Pending</td>
                {% endif %}
                <td>{{ transaction.post_date }}</td>
              {% else %}
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.description }}</td>
                <td class="text-danger" style="text-align: right">{{ -transaction.amount|usd }}</td>
                <td>{{ transaction.payment_method }}</td>
                {% if transaction.status == 1 %}
                <td>Complete</td>
                {% else %}
                <td>Pending</td>
                {% endif %}
                <td>{{ transaction.post_date }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}